<header class="header">
  <div class="header__left-side">
    <span class="header__text">Система ЖКХ</span>
  </div>
  <div class="header__right-side">
    <button class="button button-company">УK "Северная звезда"</button>
    <button class="button button-sing">Выход</button>
  </div>
</header>