<div class="board">
    <nav class="board__data data">
      <input class="data__input" type="radio" name="inset" value="" id="hvs" checked>
      <label class="data__item" for="hvs">ХВС</label>

      <input class="data__input" type="radio" name="inset" value="" id="gvs">
      <label class="data__item" for="gvs">ГВС</label>

      <input class="data__input" type="radio" name="inset" value="" id="hot">
      <label class="data__item" for="hot">Тепло</label>

      <input class="data__input" type="radio" name="inset" value="" id="ee">
      <label class="data__item" for="ee">ЭЭ</label>

      <div class="board__tab tab">
        <header class="tab__header">
          <div class="tab__header-left">
            <div class="tab__buttons">
              <button class="tab__button">ИПУ</button>
              <button class="tab__button">ОДПУ</button>
              <button class="tab__button">СОИ</button>
            </div>
            <span class="tab__header-text">ул. Корабельная</span>
          </div>
          <div class="tab__header-right">
            <span class="tab__header-date">Март 2019</span>
            <span class="tab__header-text">ул. Ленина</span>
          </div>
        </header>
        <div class="tab__box box" id="for-hvs">
          <div class="box__scales">
            <div class="box__scale">400 000</div>
            <div class="box__scale">300 000</div>
            <div class="box__scale">200 000</div>
            <div class="box__scale">100 000</div>
            <div class="box__scale">0</div>
            <div class="box__scale box__scale-buttons">
              <button class="button-pre"></button>
              <button class="button-next"></button>
            </div>
          </div>
          <div class="box__charts charts">
            <div class="charts__hous">
              <div class="charts__hous-data">
                  <div class="charts__hous-all"></div>
                  <div class="charts__hous-fact"></div>
              </div>
              <div class="charts__hous-number">
                <span class="charts__hous-number-text"></span>
              </div>
            </div>

            <div class="charts__hous">
              <div class="charts__hous-data">
                  <div class="charts__hous-all charts__hous-all--spec"></div>
                  <div class="charts__hous-fact charts__hous-fact--spec"></div>
              </div>
              <div class="charts__hous-number">
                <span class="charts__hous-number-text"></span>
              </div>
            </div>

           <div class="charts__hous">
              <div class="charts__hous-data">
                  <div class="charts__hous-all"></div>
                  <div class="charts__hous-fact"></div>
              </div>
              <div class="charts__hous-number">
                <span class="charts__hous-number-text"></span>
              </div>
            </div>

            <div class="charts__hous">
              <div class="charts__hous-data">
                  <div class="charts__hous-all"></div>
                  <div class="charts__hous-fact"></div>
              </div>
              <div class="charts__hous-number">
                <span class="charts__hous-number-text"></span>
              </div>
            </div>

            <div class="charts__hous">
              <div class="charts__hous-data">
                  <div class="charts__hous-all charts__hous-all--spec-b"></div>
                  <div class="charts__hous-fact charts__hous-fact--spec-b"></div>
              </div>
              <div class="charts__hous-number">
                <span class="charts__hous-number-text"></span>
              </div>
            </div>

            <div class="charts__hous">
              <div class="charts__hous-data">
                  <div class="charts__hous-all"></div>
                  <div class="charts__hous-fact"></div>
              </div>
              <div class="charts__hous-number">
                <span class="charts__hous-number-text"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="tab__box box" id="for-gvs">
          какие-то данные ГВС              
        </div>
        <div class="tab__box box" id="for-hot">
          какие-то данные тепло              
        </div>
        <div class="tab__box box" id="for-ee">
          какие-то данные EE              
        </div>
      </div>
    </nav>
    {{> detailed}}
  </div>