<section class="detailed">
  <div class="detailed__info info">
    <div class="info__wrap">
      <div class="info__title" id="adress">Корабельная, д.13</div>
      <div class="info__direction">ХВС</div>
    </div>
    <div class="info__wrap">
      <div class="info__data-wrap">
        <div class="info__data-title">План</div>
        <span class="info__data">200 000 м<sup>2</sup></span>
      </div>
      <div class="info__data-wrap">
        <div class="info__data-title">Факт</div>
        <span class="info__data">200 000 м<sup>2</sup></span>
      </div>
      <div class="info__data-wrap">
        <div class="info__data-title">СОИ</div>
        <span class="info__data">200 000 м<sup>2</sup></span>
      </div>
    </div>
    <div class="info__wrap info__wrap-rison">
      Причина: несвоевреименная реакция на   
      <span class="info__rison">аварию в системе ГВС</span>
    </div>
    <div class="info__wrap">
      <div class="info__data-wrap">
        <div class="info__data-title">Квартир/л.счетов</div>
        <span class="info__data">106</span>
      </div>
      <div class="info__data-wrap">
        <div class="info__data-title">Общая площадь</div>
        <span class="info__data">5000 000 м<sup>2</sup></span>
      </div>
      <div class="info__data-wrap">
        <div class="info__data-title">Жилая площадь</div>
        <span class="info__data">4877 000 м<sup>2</sup></span>
      </div>
    </div>
    <div class="info__wrap">
      <div class="info__data-wrap">
        <div class="info__data-title">Узлов учета</div>
        <span class="info__data">123</span>
      </div>
      <div class="info__data-wrap">
        <div class="info__data-title">Узлов реагирования</div>
        <span class="info__data">43</span>
      </div>
      <div class="info__data-wrap">
        <div class="info__data-title"></div>
        <span class="info__data"></span>
      </div>
    </div>

  </div>
   <article class="detailed__make">
      <div class="info__wrap">
        <div class="info__title">В следующем месяце</div>
      </div>
      <div class="info__wrap">
        <div class="info__data-wrap">
          <div class="info__data-title">План</div>
          <span class="info__data">200 000 м<sup>2</sup></span>
        </div>
      </div>
      <div class="info__wrap">
        <div class="info__data-wrap">
          <div class="info__data-title">Предпл. факт</div>
          <span class="info__data">245 000 м<sup>2</sup></span>
        </div>
      </div>
      <div class="info__wrap">
        <div class="info__data-wrap">
          <div class="info__data-title">Факторы прогноза</div>
          <span class="info__data">Авария в 4 подъезду, сезонные работы</span>
        </div>
      </div>
      <div class="info__wrap">
        <button class="info__button">Подробнее</div>
      </div>
      


   </article>
</section>