<nav class="menu" id='menu'>
  <span class="menu__item">Рабочий стол</span>
  <span class="menu__item">Дома</span>
  <span class="menu__item">Абоненты</span>
  <span class="menu__item">Запросы на изменения</span>
  <form class="menu__item menu__item-search" action="" method="get">
    <input class="search-form" name="search" placeholder="Поиск" type="search">
  </form>
</nav>
<div class="menu__icon">
  <input type="checkbox"  id="menu__check">
  <label  for="menu__check" class="menu__label"></label>
  <div class="menu__icon-item"></div>
</div>